
@import "./variables.scss";
@import "./login/login.scss"; 
@import "./navigation.scss";
@import "./dashboard.scss";
@import "./addDebtor/addDebtor.scss";
@import "./addDebtor/debtor.scss";
@import "./debtor/debtordetail.scss";
@import "./debtor/addnotesegment.scss";
@import "./debtor/display-activity.scss";

body {
   margin: 0px;
   font-family: 'Titillium Web', sans-serif;
   background-color: lightgray;
}
.app {
   display: grid;
   grid-template-columns: 1fr;
   background-color: $cultured;
}