.add-activity-wrapper {
  background-color: #ffff;
  

  &__add-activity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    border-top: black 1px solid;
    text-align: center;
    background-color: #dce0d9;
    
    
  }

  &__add-activity-payments__wrapper {
    height: inherit;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }
  &__add-activity-phone__wrapper {
    height: inherit;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

  }

  &__add-activity-note-activity {
    
  }

  &__add-activity-note__wrapper {
    height: inherit;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

    

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    &__button {
      background-color: $grey; /* Green */
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border: 1px solid $purple;
      border-radius: 10px;

        &:hover {
        color: $purple;
        cursor: pointer;
        border-left: solid 5px $pink;
        }
    }
    
  }
  
}

