.debtor-detail{
    background-color: #0D1B2A;
    color: #E0E1DD;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 5px;
    border: 3px solid #415A77;
    &__debtor-detail-wrapper{
        background-color: rgba(169, 169, 169, 0.577);
        border: 5px;
        border-radius: 10px;
        height: 35%;
        &__row-one {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 2px solid #415A77;
            background-color: #0D1B2A;
            height: inherit;
            align-items: center;
            justify-items: flex-start;

            &:hover {
                background-color: darkgray;
                color: black;
            }
        }

    }
    &__related-contact-info {
        background-color: rgba(169, 169, 169, 0.577);
        border: 5px;
        border-radius: 10px;
        height: 35%;
        &__row-one{
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 2px solid #415A77;
            background-color: #0D1B2A;
            height: inherit;
            align-items: center;
            justify-items: flex-start;
            
            &:hover {
                background-color: darkgray;
                color: black;
            }
        }
    }
}

.activity-wrapper{
    margin-top: 5px;
    height: 175%;
    background-color: #1B263B;
    color: #E0E1DD;
}