.display-activity {
    background-color: $white;
    border: #00296b 1px solid;
    color: $black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
