.add-debtor {
  &__header {
    font-weight: 800;
    font-size: 17px;
    color: $white;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;

    &-left-wrapper {
      display: grid;
      grid-column: 1fr;
      align-items: flex-start;
      .labels {
        margin-top: 10px;
        color: $white;
        background: $grey;
        transition: 300ms;
        border: solid 3px $purple;
        border-radius: 10px;
        border-style: inset;
      }
      .inputField {
        margin-left: 5px;
        outline: none;
        padding: inherit;
        border: 2px solid #dadce0;
        font-size: 18px;
        border-radius: 5px;
        background-color: $grey;
        color: $white;
      }
      .inputField:focus {
        border: 2px solid royalblue;
      }
    }
    &-right-wrapper {
      display: grid;
      grid-column: 1fr;
      align-items: flex-start;
      .labels {
        margin-top: 10px;
        color: $white;
        background: $grey;
        transition: 300ms;
        border: solid 3px $purple;
        border-radius: 10px;
        border-style: inset;
      }
      .inputField {
        margin-left: 5px;
        outline: none;
        padding: inherit;
        border: 2px solid #dadce0;
        font-size: 18px;
        border-radius: 5px;
        background-color: $grey;
        color: $white;
        
      }
      .inputField:focus {
        border: 2px solid royalblue;
      }

      .submit-btn {
        margin-left: 40%;
        margin-top: 35px;
      }
    }
  }
}
