.add-debtor {
  &__header {
    font-weight: 800;
    font-size: 17px;
    color: $white;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;

   

    &-left-wrapper {
      display: grid;
      grid-column: 1fr;
      align-items: flex-start;
      .labels {
        margin-top: 10px;
        color: $black;
        background: $cultured;
        transition: 300ms;
        border: solid 3px ;
        border-radius: 10px;
        border-style: inset;
      }
      .inputField {
        margin-left: 5px;
        outline: none;
        padding: inherit;
        border: 2px solid $black;
        font-size: 18px;
        border-radius: 5px;
        background-color: $cultured;
        color: $black;
        width: 75%;
      }
      .inputField:focus {
        border: 2px solid $red;
      }
    }
    &-right-wrapper {
      display: grid;
      grid-column: 1fr;
      align-items: flex-start;
      .labels {
        margin-top: 10px;
        color: $black;
        background: $cultured;
        transition: 300ms;
        border: solid 3px ;
        border-radius: 10px;
        border-style: inset;
      }
      .inputField {
        margin-left: 5px;
        outline: none;
        padding: inherit;
        border: 2px solid $black;
        font-size: 18px;
        border-radius: 5px;
        background-color: $cultured;
        color: $black;
        
      }
      .inputField:focus {
        border: 2px solid $red;
      }

      .submit-btn {
        margin-left: 40%;
        margin-top: 35px;
      }
    }
  }
}

.ReactModal__Content ReactModal__Content--after-open {

  @media screen and (min-width: 700px) {
   width: 800px;
  }

}
