.debtor-wrapper {
    height: inherit;
    background-color: lightgray;
    margin-top: 5px;
    
    @media screen and (min-width: 700px) {
    width: 100%;
    }
}

.debtor-segment-wrapper {

    display: grid;
    @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
        
    }
    
    

.debtor-segment {
   
        

        &__header {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            padding: 1em;
            margin-bottom: 5px;
            background-color: $cultured;
            color: $black; 
            border: 2px solid $maBlue;
            border-radius: 10px;
        }
    
        &__column {
            display: grid;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            padding: 1em;
            margin-bottom: 2em;
            background-color: $cultured;
            color: $black; 
            border: 2px solid $maBlue;
            border-radius: 10px;
            height: inherit;
            .debtor-card {
                
                width: 100%;
                height: 80px;
                border: 1px solid $maBlue;
                display: flex;
                flex-direction: column;
                align-items:center;
                background-color: $steel;
                a {
                    color: $cultured;
                    text-decoration: none;
                    &:hover {
                        color: $maBlue;
                    }
                    
                }
                
                &__amountOwed {
                    color: lawngreen;
                }
            }
        }
}
}



